<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body style="margin: 20px">
        <div id='data' style='display: none'><%= data %></div>
        <h2>Is this message a spam?</h2>
        <h4 id='text'></h4>
        <div style="margin-top: 40px">
            <button id="btn-yes" type="button" onclick="submitLabel(true)" class="btn btn-danger">Yes</button>
            <button id="btn-no" type="button" onclick="submitLabel(false)" class="btn btn-primary">No</button>
        </div>
        
        <script>
            var data;
            var nextToDisplay = 0;

            function displayNext() {
                var msg = data[nextToDisplay++];
                $('#text').text(msg.body);
                $('#text').attr('message-id', msg.id);
            }

            function submitLabel(isSpam) {
                $.post('/label', { id: $('#data').attr('message-id'), isSpam: isSpam });
                displayNext();
            }

            $(function () {
                data = JSON.parse($('#data').text());
                displayNext();
            }); 
        </script>
    </body>
</html>
